{% load wagtailcore_tags %}
<header class="col12">
    <h1>{{ page.introduction }}</h1>
</header>
<section class="row">
    {% for contact in page.contacts.all %}
    {% if forloop.counter|divisibleby:4 %}</section><section class="row">{% endif %}
    <article class="col-4 contact">
        <p>{{ contact.name }}</p>
        <p><address>{{ contact.address|richtext }}</address></p>
        <p>{{ contact.phone }}</p>
        <p><a href="mailto:{{ contact.email }}" class="email">Email</a></p>
    </article>
    {% endfor %}
</section>
